*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins' , sans-serif;
    text-decoration: none;
    list-style:none;
}
:root{
    --bg-color:#222327;
    --text-color:#fff;
    --main-color: #d27bd4;
}
body{
    min-height:100vh;
    background:var(--bg-color);
    color:var(--text-color);
}
header{
    position:fixed;
    height: 20vh;
    width: 100%;
    top:0;right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:var(--bg-color);
    padding: 28px 12%;
    transition:all .50s ease;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    margin-right: 10px;
    height: 290px;
    border-radius: 50%;
}
.navbar{
    display:flex;
}
.navbar a{
    color:var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    padding:5px 0;
    margin:0px 30px;
    transition:all .50s ease;
}
.navbar a:hover{
    color:var(--main-color);
}
.navbar a.active{
    color:var(--main-color);
}
.main{
    display:flex;
    align-items:center;
}
.main a{
    margin-right: 25px;
    margin-left:10px;
    color:var(--text-color);
    font-size :1.5rem;
    font-weight: 500;
    transition:all .50s ease;
}
.user{
    display:flex;
    align-items:center;
}
.user i{
    color:var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color:var(--main-color);
}
#menu-icon{
    font-size:35px;
    color:var(--text-color);
    cursor:pointer;
    z-index:10001;
    display:none;
    position:absolute;
    top:4rem;
    right:2rem;
}
@media (max-width: 1200px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin:0px 20px;
    }
}
@media (max-width:1090px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position:absolute;
        top:100%;
        right:2%;
        width:270px;
        height:70vh;
        background:var(--main-color);
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;

    }
    .navbar a{
        display:block;
        margin:12px 0;
        padding:0px 25px;
        transition:all .50s ease;

    }
    .navbar a:active{
        color:var(--text-color);
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar .open{
        right:2%;
    }
}
section{
    padding: 2rem 9%;
}

.home{
    display:flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height:100vh;
    align-items: center;
    justify-content: center;
    background:var(--bg-color);
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}
.home .content .title{
    font-size: 8rem;
    color:#fff;
    text-transform: uppercase;
}
.home .content .title span{
    text-transform: uppercase;
    color:var(--main-color);
    font-size: 9rem;
}
.home .content .description{
   font-size:32px;
   font-weight: lighter;
   line-height: 1.8;
   padding:1rem 0;
   color:#fff;  
}
.home .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size:1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}
.home .content .btn:hover{
    letter-spacing: .2rem;
}
.home .images{
    flex:1 1 40rem;
}
.home .images img{
    width:90%;
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding:2rem;
    }
    section{
        padding:2rem;
    }
}
@media(max-width:768px){
    .header #menu{
        display:inline-block;
    }
    .header .navbar{
        position:fixed;
        top:0;right:-105%;
        width:30rem;
        background: var(--main-color);
        backdrop-filter:blur(50px);
        transition: .5s;
        height:100%;
        display:flex;
        flex-flow:column;
        justify-content: center;
        z-index: 1200;
    }

    .header .navbar.active{
        right:0;
    }
    #menu-icon{
        display:block;
    }
    .header .navbar a{
        display: block;
        margin:1rem 0;
        text-align: center;
        font-size: 3rem;
    }
    .home .content{
        padding-top:9.5rem;
    }
    .home .image img{
        width:360px;
    }
    .home .content .title{
        font-size: 4rem;
    }
    .home .content .description{
        font-size: 1.6rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}



.section__title{
    font-weight: bold;
    color: white;
    font-size: 5rem;
    text-align: center;
}
.branch{
    background:var(--bg-color);
    height: 1500px;
    padding-top: 14rem;
    align-items: center;
    position: relative; 
    filter: drop-shadow(0 16px 16px white);
    transition: transform .3s; 
  }
  .branch_bg{
    background: var(--bg-color);
    padding: 50px ;
    margin-right: 150px;
    align-items: center;
    width: 100%;
    height:1100px;
    filter: drop-shadow(0 16px 16px var(--main-color));
    transition: transform .3s;
  }
  .branch_container{
    padding-top: 5rem;
    
  }
  .branch .section__title{
    color: white;
    font-size: 5rem;
    text-align: center;
  }
  .branch_description{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-left: 200px;
  }
  .branch_content{
    display: flex;
    flex-direction: row;

  }
  .branch_card{
    width: 350px;
    z-index: 10;
    display: block;
    margin: auto;
  }
  .branch_circle{
    width: 600px;
    height: 600px;
    background:var(--text-color);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  .branch_img img{
    width: 600px;
    height:500px;
    filter: drop-shadow(0 4px 16px black);
    transition: transform .3s;
    border-radius: 50%;
   
  }
  
  .branch_img:hover{
    transform: translateY(-.5rem);
    
  }
  
  .branch_container p{
    font-weight: bold;
    margin-left: 50px;
    padding-top: 10px;
  }
  .Testimonals{
    background:var(--bg-color);
    height: 1600px;
    padding-top: 10rem;
    margin-bottom: 5rem;
    align-items: center;
    position: relative; 
    filter: drop-shadow(0 16px 16px white);
    transition: transform .3s; 
  }

  .testimonal-title{
    font-weight: bold;
    color: white;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10rem;
    color: var(--main-color);
  }

  .tests1{
    display: flex;
    flex-direction: column;
    gap:10rem;
    justify-content: center;
  }
  .test{
    display: flex;
    flex-direction: row;
  }
  .test img{
    width: 600px;
    height:450px;
    border:solid 0.4rem var(--main-color);
    border-radius: 50%;
    filter: drop-shadow(0 4px 16px rgb(255, 255, 255));
    transition: transform .3s;
  }
  .test img:hover{
    transform: translateY(-.5rem);
    
  }
  .testcont{
    margin-top: 5.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 10px;
  }
  .tests2{
    display: flex;
    flex-direction: row;
  }
  .tests2 img{
    width: 600px;
    height:450px;
    border:solid 0.4rem var(--main-color);
    border-radius: 50%;
    filter: drop-shadow(0 4px 16px rgb(255, 255, 255));
    transition: transform .3s;
  }
  .tests2 img:hover{
    transform: translateY(-.5rem);
  }

  .feedback{
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
   filter:blur(1px) brightness(100%);
    
  }
  .container{
    height:800px;
    width:800px;
    background: var(--bg-color);
    box-shadow: 0 0 8px white;
    border-radius: 30px;
    opacity:0.8;
  }
  .container form{
    width:100%;
    text-align:center;
    padding:25px 20px;
  }
  .branch_bg1{
    background: var(--main-color);
    padding: 50px ;
    margin-left: 10rem;
    align-items: center;
    width: 900px;
    height:1100px;
    border-radius: 30px;
   
  }
  form h1{
    padding: 10px 0;
    margin-bottom: 4rem;
    font-size: 3rem;
  }
  form .id{
    position:relative;
    margin-bottom: 1rem;
  }
  .id i{
    position:absolute;
    font-size: 3rem;
    top:40%;
    right:20px;
    transform:translateY(-50%);
  }
  form input{
    width: 100%;
    height:50px;
    margin:4p 0;
    border:1px solid var(--bg-color);
    border-radius:3px;
    background: var(--bg-color);
    padding:3rem 15px;
    padding-right:45px ;
    margin-bottom: 2rem;
    color:white;
    font-size: 2rem;
  }
  form textarea{
    padding:1rem 15px;
    border:1px solid var(--bg-color);
    border-radius:3px;
    background: var(--bg-color);
    font-size: 20px;
    width:100%;
    margin:4px 0;
    color: white;
    font-size: 2rem;
  }
  form button{
    margin-top: 5px;
    border:none;
    background:black;
    color:white;
    padding:10px 0;
    width:100%;
    font-size:2rem;
    font-weight: 800;
    cursor:pointer;
    border-radius: 3px;
  }
  form input:focus,
  form textarea:focus{
    border: 1px solid var(--bg-color);
    color:var(--main-color);
    transition:all 0.3s ease;
  }
  form input:focus::placeholder,
  form textarea:focus::placeholder{
    padding-left:4px ;
    color:var(--main-color);
    transition:all 0.3s ease;
  }
  form input:focus + i{
    color:var(--main-color);
    transition:all 0.3s ease;
  }

  .containerss{
    max-width: 800px;
    height:800px;
    color: var(--bg-color);
  }
.contact-info{
  color:white;
  text-align: center;
  padding:1rem 15px;
  font-size: 2rem;
}
.contact-info h3{
  font-size:2.6rem;
  margin-bottom: 20px;
}
.contact-info p{
  margin-bottom: 1rem;
}
.contact-info i{
  color:white;
  height:100rem;
}
